<div class="container">
  <div class="row">
    <div class="col-6" ng-show="!bookFormCtrl.bookDeleted">
      <h1 ng-if="!bookFormCtrl.book.id">Новая книга</h1>
      <h1 ng-if="bookFormCtrl.book.id">Изменение книги</h1>

      <form name="bookForm" ng-submit="bookFormCtrl.saveBook(bookForm)" novalidate>
        <div class="form-group">
          <label for="name">Название <span class="text-danger">*</span></label>
          <input type="text"
                  name="name"
                  id="name"
                  class="form-control"
                  ng-model="bookFormCtrl.book.name"
                  ng-maxlength="30"
                  required>
          <small class="text-danger" ng-show="bookForm.name.$error.required">Это поле обязательно</small>
          <small class="text-danger" ng-show="bookForm.name.$error.maxlength">Превышено максимальное количество символов - 30</small>
        </div>

        <div class="form-group">
          <label for="pages">Авторы <span class="text-danger">*</span></label>
          <div class="row">
            <div class="col-9">
              <select name="authors"
                      id="authors"
                      class="form-control"
                      ng-model="bookFormCtrl.selectedAuthor">
                <option ng-value="author" ng-repeat="author in bookFormCtrl.authors">{{ author.last_name }} {{ author.first_name }}</option>
              </select>
            </div>
            <div class="col-3">
              <button class="btn btn-success" ng-click="bookFormCtrl.addAuthor()">Добавить</button>
            </div>
          </div>
          <table class="table table-borderless" ng-show="bookFormCtrl.book.authors.length">
            <tr ng-repeat="author in bookFormCtrl.book.authors track by $index">
              <td>{{ author.last_name }} {{ author.first_name }}</td>
              <td><button class="btn btn-danger btn-sm" ng-click="bookFormCtrl.deleteAuthor(author.id)">Удалить</button></td>
            </tr>
          </table>
          <small class="text-danger" ng-show="!bookFormCtrl.book.authors.length">Должен быть минимум 1 автор</small>
        </div>
        
        <div class="form-group">
          <label for="pages">Количество страниц <span class="text-danger">*</span></label>
          <input type="number"
                  name="pages"
                  id="pages"
                  class="form-control"
                  ng-model="bookFormCtrl.book.pages"
                  ng-min="1"
                  ng-max="1000"
                  required>
          <small class="text-danger" ng-show="bookForm.pages.$error.required">Это поле обязательно</small>
          <small class="text-danger" ng-show="bookForm.pages.$error.max || bookForm.pages.$error.min">
            Допустимое количество страниц от 1 до 10000
          </small>
        </div>
        
        <div class="form-group">
          <label for="publisher">Издательство</label>
          <input type="text"
                  name="publisher"
                  id="publisher"
                  class="form-control"
                  ng-model="bookFormCtrl.book.publisher"
                  ng-max="30">
          <small class="text-danger" ng-show="bookForm.publisher.$error.maxlength">Превышено максимальное количество символов - 30</small>
        </div>
        
        <div class="form-group">
          <label for="published">Год издания</label>
          <input type="number"
                  name="published"
                  id="published"
                  class="form-control"
                  ng-model="bookFormCtrl.book.published"
                  ng-pattern="/^\d{4}$/"
                  ng-min="1800">
          <small class="text-danger" ng-show="bookForm.published.$error.pattern">Год должен содержать 4 цифры.</small>
          <small class="text-danger" ng-show="bookForm.published.$error.min">Минимально допустимый год - 1800</small>
        </div>
        
        <div class="form-group">
          <label for="circulation" class="field__label">Дата выхода в тираж</label>
          <input type="date"
                  name="circulation"
                  id="circulation"
                  class="form-control"
                  ng-model="bookFormCtrl.book.circulation_date"
                  min="1800-01-01">
          <small class="text-danger" ng-show="bookForm.circulation.$error.date">Неверный формат даты</small>
          <small class="text-danger" ng-show="bookForm.circulation.$error.min">Минимально допустимая дата - 01/01/1800</small>
        </div>
        
        <div class="form-group">
          <label for="isbn">ISBN</label>
          <input type="text"
                  name="isbn"
                  name="isbn"
                  class="form-control"
                  ng-model="bookFormCtrl.book.isbn"
                  ng-pattern="/^(?=.{13}$)\d{1,5}([- ])\d{1,7}\1\d{1,6}\1(\d|X|x)$/">
          <small class="text-danger" ng-show="bookForm.isbn.$invalid">Неверный формат ISBN</small>
        </div>
        
        <button type="submit" ng-disabled="bookForm.$invalid" class="btn btn-success">Сохранить</button>
        <button type="button" class="btn btn-danger ml-3" ng-click="bookFormCtrl.deleteBook()" ng-if="bookFormCtrl.book.id">Удалить</button>
      </form>
    </div>
    
    <div class="col-6" ng-show="bookFormCtrl.bookDeleted">
      <div class="alert alert-success" role="alert">
        Книга успешно удалена. Вы можете перейти к <a ui-sref="books-list">списку книг</a>
      </div>
    </div>
  </div>
</div>