<div class="conatiner">
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center mb-3">
        <h1>Книги</h1>
        <a ui-sref="book-form({id: null})" class="ml-auto btn btn-success">Добавить новую книгу</a>
      </div>

      <table class="table table-hover">
        <tr>
          <th>
            Название
            <span class="sort-toggle" ng-click="booksListCtrl.toggleOrder('name')">
              <i class="fas fa-sort-amount-up"
                 ng-show="!booksListCtrl.order['name'] || booksListCtrl.order['name'] == 'asc'"
                 ng-class="{'text-success': booksListCtrl.order['name']}"></i>
              <i class="fas fa-sort-amount-down text-success" ng-show="booksListCtrl.order['name'] == 'desc'"></i>
            </span>
          </th>
          <th>
            Год публикации
            <span class="sort-toggle" ng-click="booksListCtrl.toggleOrder('published')">
              <i class="fas fa-sort-amount-up"
                  ng-show="!booksListCtrl.order['published'] || booksListCtrl.order['published'] == 'asc'"
                  ng-class="{'text-success': booksListCtrl.order['published']}"></i>
              <i class="fas fa-sort-amount-down text-success" ng-show="booksListCtrl.order['published'] == 'desc'"></i>
            </span>
          </th>
          <th></th>
        </tr>
        <tr ng-repeat="book in booksListCtrl.books | orderBy:booksListCtrl.ordersList"
            ng-mouseover="hoveredAutor = book.id"
            ng-mouseleave="hoveredAutor = null"
            class="text-primary"
            ng-click="booksListCtrl.goToBook(book.id)">
          <td class="align-middle">{{ book.name }}</td>
          <td class="align-middle">{{ book.published }}</td>
          <td class="align-middle">
            <button class="btn btn-danger"
                    type="button"
                    ng-click="booksListCtrl.deleteBook(book.id)"
                    ng-class="{'invisible': hoveredAutor != book.id}">
              Удалить
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>